<!-- "To delete signature" make a form and make it look like a link: -->
<form method="POST" action="/sig/delete">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="btn">Delete your signature</button>
</form>
