<div class="btn signers">
    {{#if numberOfSigners}}
        <a href="/signers">See all {{numberOfSigners}} signers</a>
    {{else}}
        <a href="/signers">See all signers</a>
    {{/if}}
</div>
