<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Stop Headwind</title>
        <link rel="stylesheet" href="/styles.css">
        <!-- <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/google/56/dash-symbol_1f4a8.png"> -->
        <link rel="icon" href="/ban-headwind.png">
        <!-- <link href="https://fonts.googleapis.com/css?family=Changa:400,600" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600|Roboto:400,400i" rel="stylesheet">

    </head>
    <body>
        <header>
            <div id="wind-vs-bike">
                <div id="headwind-sucks">
                    <img id="wind" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/google/56/dash-symbol_1f4a8.png" alt="stupid headwind">
                    <img id="ban" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/ProhibitionSign.svg" alt="red circle crossed">
                </div>
                <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/google/223/bicyclist_1f6b4.png" alt="bicyclist">
            </div>
        </header>

        <main>
            <div class="container">
                {{{ body }}}
            </div>
        </main>



        <!-- <footer>Nina Hahne 2019</footer> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>
    </body>
</html>
