{{#if err}}
<div class="err">oops!</div>
{{/if}}
<form class="" method="post">
    <input type="text" name="first" placeholder="first name">
    <input type="text" name="last" placeholder="last name">
    <!-- <input type="hidden" name="sig"> -->
    <input type="text" name="sig" placeholder="signature">
    <canvas id="canvas" width="350" height="100"></canvas>

    <button name="button">submit</button>
</form>
