<div class="main-text">
    <p>A world without <a href="https://en.wiktionary.org/wiki/headwind" target="_blank">headwind</a> on bike lanes is within reach but we won't get there without your support.<br>Join our campain today!</p>
</div>


{{#if err}}
<div class="err">oops! please try again!</div>
{{/if}}
<form class="form" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="text" name="first" id="first"><br>
    <label for="first">First Name</label><br>
    <input type="text" name="last" id="last"><br>
    <label for="last">Last Name</label><br>
    <input type="text" name="email" id="email"><br>
    <label for="email">Email Address</label><br>
    <input type="password" name="password" id="password"><br>
    <label for="password">Choose Password</label><br>
    <!-- <input type="password" name="password2" id="password2"><br>
    <label for="password2">Confirm Password</label><br> -->

    <button name="button">SIGN UP</button>
</form>

<p>If you are already a member, please <a href="/login">log in</a>.</p>
