<div class="main-text">
    <p>Thank you for your signature!</p>
</div>
<img src="{{sigUrl}}" alt="signature">
<p><a href="/signers">See all {{numberOfSigners}} signers</a></p>

<br>
{{>delete-sig-btn}}
