
<p>Thank you for your signature!</p>
<img src="{{sigUrl}}" alt="signature">
<p><a href="/signers">See all {{numberOfSigners}} signers</a></p>

<p><a href="/profile/edit">Edit your profile</a></p>

<!-- "To delete signature" make a form and make it look like a link: -->
<form method="POST" action="/sig/delete">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Delete your signature</button>
</form>
